/* formatando os cabecalhos */
h3 {
    text-transform: uppercase;
    display: inline;
    font-size: 0.8em;
    padding: 3px;
}

.destaque h3 {
    background: #b10333;
    color: #fff;
}
.entrevista h3 {
    background: #d3003e;
}


